/* ----fonts ----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles or utilities*/
body{
    margin: 0;
    color: purple;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    max-width: 1200 px;
    /* background-image: url(images/image-from-rawpixel-id-2456896-jpeg.jpg); */
    background-repeat:repeat-y;
    background-size: cover;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: purple;
    font-size: 40px;
}
h3{
    font-size: 20px;
}
.container{
    /* background-color: white; */
    border-radius: 5px;
    width: 1200px;
    padding: 30px;
    margin-top: 21px;
    /* height: 679px; */
}/* -------navigation bar styling------- */
.header-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0 8%;
}
.logo-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: purple;
    font-size: 26px;
    font-weight: 900;
    padding-left: 20px;
    border-bottom: 3px solid #3a607300;
    transition: .5s all ease;
}
.logo-link:hover{
    border-bottom: 3px solid purple;
}
.navbar ul{
    display: flex;
    align-items: center;
    margin: 0;
}
.navbar ul li{
    list-style: none;
    margin-right: 36px;
    border-bottom: 3px solid #3a607300;
    transition: .5s all ease;
}
.navbar ul li a{
    text-decoration: none;
    color: purple;
    font-size: 20px;
    font-weight: 800;
    padding: 5px 10px;
}
.navbar ul li:hover{
    border-bottom: 3px solid purple;
}
/* ------------button styling----------- */
a{
    text-decoration: none;
    color: purple;
}
.btn-grad {
   background-image: linear-gradient(to right, purple 0%, rgb(160, 104, 160)  51%, #2e1b31  100%);
   width: 150px;
   margin: 10px;
   padding: 15px 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 /* main part flex */
 .main-container{
    width: 100%;
    height: 100vh;
    background-image: url(images/new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }
 .main-div-flex{
     display: flex;
 }
 .div-flex1{
     padding: 10% 0 10% 10%;
 }
 .div-flex2{
     padding: 5% 10% 10% 0;
 }
 /* table styling */
 table {
    border-collapse: collapse;
    width: 100%;
 }
  th, td {
    text-align: left;
    padding: 25px;
  }
  
  tr:nth-child(even) {
      background-color:#445e6b21;
  }
  tr:nth-child(odd) {
      background-color:#5f747c13;
  }
/* skill and experiences styling */
.flex-main-div{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
}
.style-div{
    width: 100%;
    text-align: justify;
    color: purple;
    justify-content: space-between;
    box-shadow: 10px 10px 20px 2px gray;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 40px;
    border-left: 7px solid ;
    border-image: linear-gradient(rgb(236, 197, 233) ,purple) ;
    border-image-slice: 1;
    transition: 0.4s;
}
.style-div:hover{
    background-image: linear-gradient(rgb(228, 207, 228) 0%, rgb(160, 104, 160)  51%, #773681  100%);
    transform: scale(1.1);
    transition:all 0.5s ease-in-out;
    color: white ;
}
/* ------------my mission section styling ---------*/
.flex-mission-item{
    display: flex;
}
.my-mission-item{
    margin: 2%;
    padding: 30px;
    border-radius: 30px; 
}
.my-mission-item:hover{
    transform: scale(1.1);
    transition:all 0.5s ease-in-out;
}
#mission{
    background-color:rgba(245, 245, 245, 0.534);
    color: purple;
}
#vission{
    background-color:rgba(245, 245, 245, 0.534);
    color: purple;
    position: relative;
    top: -40px;
}
#goals{
    background-color:rgba(245, 245, 245, 0.534);
    color: purple;
}
/* ---------icon styling -----------*/
.fas{
    color: purple;
    font-size: 25px;
}
.fas:hover{
    color: rgb(235, 206, 235);
}
.fab{
    color: purple;
    font-size: 25px;
}
.fab:hover{
    color: rgb(235, 206, 235);
}
.fa-angle-double-right{
    color: #fff;
    font-size: 18px;
}
.fa-laptop-code{
    font-size: 40px;
    color: purple;
}
.fa-facebook{
    color: white;
}
.fa-facebook-messenger{
    color: white;
}
.fa-twitter-square{
    color: white;
}
.fa-youtube{
    color: white;
}
footer{
    background-color: rgba(137, 43, 226, 0.76);
    text-align: center;
    color: #fff;
    padding: 5%;
}
/* Visit us section styling */
.visitUs{
    display: flex;
}
.mapouter {
    position: relative;
    text-align: right;
}
.gmap_canvas {
    width: 70%;
    /* overflow: hidden; */
    background: none !important;
    padding-right: 20px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:#7492a0;
  }
  
  .appointment {
    width: 30%;
    height: 640px;
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 30px;
  }
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .header-container{
        padding: 0 2%;
    }
    .navbar ul li{
        margin-right: 5px;
    }
}
@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
}